*{
  margin: 0;  
}
#cabeçalho{
    background-image: url("imagens/fundo.jpg");
    
}
#logo{
    padding: 70px;
    border: 10px 10px 10px 10px;
    border-color: black;
}
#titulo-cabecalho{
    color: rgb(0, 0, 0);
    margin-left: 15%;
    
}
#paragrafo-cabeçalho{
    margin-top: 2%;
    margin-left: 15%;
    margin-bottom: 5%;
    font-family: Arial, sans-serif;

}
#menu-informativo{
    background-color: rgb(192, 192, 192);
    display: flex;
    display: grid;
    grid-auto-flow: column;   
    columns: auto;
    
   
}
.paragrafo-informativo{
    display: flex;
    align-items: center;
    
    
}
.icones{
    margin: 50px 0px 50px 0px;
    margin-left: 25%;
    padding: 1%;
}
#secao-videos{
    display:grid;
    grid-auto-flow: column;
    columns: auto;
}
#video{
   margin: 50px 25px 50px 190px;
}
#titulo-texto{
    margin-top: 50px;
    color: rgb(0, 102, 255);
    
}
#texto-video{
    
}
#carrossel{
    background-color: #247BA0;
    padding: 50px;
   
}
#cards{
    display: grid;
    grid-auto-flow: column;
    columns:auto;
    align-items: center;
}

#titulo-carrossel{
    text-align: center;
    color: rgb(255, 255, 255);
    margin-bottom: 5%;
    font-size: 50px;
}
.cards{
    margin-left: 50px;
}

#bruna{
    display: none;
}
#seta-esquerda{
    display: none;
    padding: 100%
}
#seta-direita{
    
}
.seta{
    
    cursor: pointer;
}
.seta:hover{
    transform: translateY(-7%);
    transition-duration: 0.50s; 
   
}

